*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    margin: 3%;

}
.header h2{
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    

}
p{
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 1.5rem;
}

.single-album{
    position: relative;
    overflow: hidden;
}

.album-img{
    position: relative;
    overflow: hidden;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.album-img img
{
    width: 100%;
    transition: .4s;
}
.single-album:hover .album-img img
{
    transform: scale(1.5,1.5);
   
}

.album-content
{
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
    transition: all 0.4s;
    background: #3498DB;
    border-bottom-right-radius: 10px;
    
}

.single-album:hover .album-content
{
    height: 250px; 
    background: #D35400;
    border-bottom-right-radius: 100px;
}
.album-info
{
    transition: all .5s;
    padding: 5px 20px 5px 20px;

}
.album-info h3{
    font-size: 16px;
    color: #fff;
    margin: 5px;
    text-transform: uppercase;

}

.single-album:hover.album-info h3
{
    color: tomato;

}
.album-info p{
    color: #fff;
    margin-top: 25px;
}
.album-text{
    color: aliceblue;
    padding: 0 10px 5px;
    font-family: 'Ysabeau', sans-serif;
    
}

.row{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 10em; 
    
}    

#holder{
    margin: 10%;
}
h3{
    font-family: 'Carter One', cursive;
    color: #000000;
}

.wrapper.four {
    
    font-size: 1rem;
    font-family: "Play", sans-serif;
}
.four .type{
    padding: 0rem 0rem;
    width: fit-content;
    margin: auto;
}
.four h3 {
    width: 21ch;
    border-right: 1px solid black;
    margin: -.5em -7em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13, end), blink-caret .5s step-end infinite alternate;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}
.text-centre{
    
}

#footer
{   max-height: fit-content;
    background-color: #f0ffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;

}

.contactimg{
    margin-top: 1em;
    padding:0 5em;
}

.line-1 {
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    align-items: center;
    background: black;
  }


  @media screen and (max-width: 760px) {
    .row{
        display: grid;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 10em; 
        
    } 
    
    .contactimg{
        height: 2em;
    }
    

    .album-content
{
    height: 80px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    position: absolute;
    bottom: 0;
    transition: all 0.4s;
    background: #3498DB;
    border-bottom-right-radius: 10px;
    
}

.single-album:hover .album-content
{   
    display: flex;
    flex-wrap: wrap;
    height: 200px; 
    background: #D35400;
    border-bottom-right-radius: 100px;
}
  }
  

